/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

#machine {
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-size: .9em;
}

#machine h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	padding-top: .4em;
	padding-bottom: .4em;
}

#machine textarea {
	margin-left: .2em;
	margin-bottom: .2em;
}

#machine {
	border: .2em solid #97C0B3;
	background-color: #527A6D;
	padding: .2em;
	color: #FFFAF4;
	display: block;
	width: 32em;
}

#machine > div {
	margin: .2em;
	background-color: #4C5666;
	margin-bottom: .6em;
	padding: .4em;
}

#simulator {
	margin: .2em;
}

#memory td, #memory th, #registers td, #registers th {
	background-color: #565763;
	color: #B38B80;
	height: 1em;
	width: 1.6em;
	text-align: center;
	font-size: .9em;
	padding: .2em;
	margin: 0;
}

#memory th, #registers th {
	color: #9C9EAD;
}

#machine .status > input {
	font-family: ‘Lucida Console’, Monaco, monospace;
	background-color: #8C7390;
	border-color: #8C7390;
	color: white;
}

#machine .controls > h2 {
	display: inline;
}

#machine .controls > input {
	display: inline;
	vertical-align: .28em;
	background-color: #8C7390;
	color: white;
}

#output {
	width: 20em;
	height: 5em;
	background-color: #8C7390;
	border: none;
	color: white;
}

.editor > input, .assembly > input {
	vertical-align: .28em;
	background-color: #8C7390;
	color: white;
}

#editor, #assembly {
	width: 29em;
	height: 15em;
	background-color: #8C7390;
	color: white;
}
